@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  /* border: 1px solid red; */
  -webkit-tap-highlight-color: transparent;
  font-family: "Quicksand";
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: arial;
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.btn-primary {
  border: 2px solid #504f4f;
  background: none;
  padding: 14px 17px;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  color: #504f4f;
  font-weight: 600;
  transition-duration: 0.3s;
  font-family: "Quicksand";
}

.btn-primary:hover {
  background: #504f4f;
  color: #fff !important;
}

.will-animate {
  opacity: 0;
}
